 p {
  font-family: Lato;
}

#root {
  padding: 30px;
}

.App {
  display: flex;
  justify-content: space-around;
}

.buttons-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.User {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
}

.User:not(:last-child) {
  border-bottom: 2px solid #f5f6f7;
}

.User h1 {
  color: #222;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.7rem;
}

.User p {
  padding-right: 1rem;
  color: #444;
}
.User button {
  padding: 0.5rem 0.7rem;
  border: 1px solid #d34b4b;
  background: #d34b4b;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.User button:hover {
  background: #e06a6a;
}